.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "header header"
    "navigation cont";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.header {
  grid-area: header;
  background-color: rgb(22, 22, 156);
}

.header img {
  width: 80px;
}

.nav {
  grid-area: navigation;
  background-color: rgb(22, 22, 156);
}

.content {
  grid-area: cont;
  background-color: rgb(220, 171, 108);
}